@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background-image: url("./img/bgc2.jpg");
  background-position: center;
  background-size: cover;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.title {
  font-size: xx-large;
  font-weight: bold;
  color: white;
  padding: 30px;
}
.container_menu {
  /* background-color: #efefef; */
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
  height: 100%;
  background-image: url("./img/bgc2.jpg");
  background-position: center;
  background-size: cover;
}
.container .listMenu {
  height: 150px;
}
.container .listMenu ul li {
  list-style: none;
  height: 0;
  display: inline-block;
  margin-left: 30px;
  box-shadow: 0 5px 5px #00000033;
  border-radius: 30px;
  transition: 0.5s;
}
.listMenu ul li:hover {
  height: 130px;
  background-color: #fffad7;
}

.listMenu ul li:hover a {
  transform: translateY(30px);
}
.container .listMenu ul li .imgMenu {
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #f2e7d599;
  border-radius: 50%;
  box-shadow: 0 3px 3px #0000001a;
  position: relative;
}
.listMenu ul li .imgMenu img {
  position: absolute;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .listMenu ul li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  opacity: 0.7;
  color: #ffff;
  transition: 0.7s;
}
.container .listMenu ul li:hover a {
  color: #000;
}
.listDish {
  display: grid;
  margin-top: 30px;
  padding: 0 30px 30px 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.listDish .item {
  background-color: #ffffff33;
  margin-top: 50px;
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 5px #0000001a;
  width: auto;
  height: 330px;
  position: relative;
  padding: 30px;
  border-radius: 30px;
}
.listDish .item .img {
  width: 180px;
  height: 180px;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 2px;
}
.listDish .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0 5px 5px #0000001a;
  border-radius: 50%;
}
.listDish .item .listDish_cnt{
  transform: translateY(80px);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.listDish_cnt .price {
  font-size: large;
  color: #f49d1a;
  font-weight: bold;
  /* transform: translateY(40px); */
}
.listDish_cnt .name {
  font-size: x-large;
  font-weight: bold;
  /* transform: translateY(40px); */
}
.listDish_cnt .review {
  /* transform: translateY(40px); */
  margin: 10px 0;
}
.listDish_cnt .review i {
  color: #f49d1a;
}
.listDish .info {
 width: 100%;
}
.listDish .info .info_order {
  cursor: pointer;
  padding: 10px 30px;
  font-size: large;
  border: none;
  color: #ffff;
  box-shadow: 0 5px 5px #0000001a;
  background-color: #6998ab;
  border-radius: 20px;
  transition: 0.25s;
}
.listDish .info:hover .info_order {
  background-color: #406882;
}
