*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a{
        text-decoration: none;
        display: block;
}
li{
        list-style: none;
}

.container{
        display: grid;
        grid-template-columns: 230px auto ;
        height: 100vh;
}

.container__hidden{
  display: grid;
  grid-template-columns: 45px auto ;
  height: 100vh;
}

.navbar__container{
        background-color: #182537;
        

}
.navbar__content{
    row-gap: 5px;
}

.navbar__logo{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 5px 0px;
        
}
.navbar__logo img{
  width:130px;
  padding:12px 12px 0;
}
.navbar__logo__hidden img{
  display: none;
}
.navbar__logo .navbar__logo-icon{
  color: white;
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
}
.navbar__lists{
   display: flex;
   align-items: center;
   column-gap: 10px;
   margin: 4px;
   height: 48px;
   position: relative;
}
.navbar__lists .item-icon{
    font-size: 20px;
    padding: 5px;
    color: rgb(192, 189, 189);
    
}
.navbar__lists:hover{
  background-color: #243041;
  
}
.navbar__lists:hover .item-icon{
   color: white;
   transition: all 0.25s ease-in-out;
}
.navbar__lists .item-name{
   font-size: 14px;
   color: white;
   font-weight: 300;
   
}

.item-show {
  position: absolute;
  right: 10%;
  color: white;
 
}
.item-show-rotate{
  transition: all 0.25s linear;
  transform: rotate(90deg);
}
.navbar__lists-hidden div{
       color: white;
       font-size: 14px;
       padding: 0 0 0 44px;
       margin: 4px;
       height: 40px;
       display: flex;
       align-items: center;
}
.navbar__lists-hidden div:hover{
  background-color: #243041;
    color: white;

}
.hidden{
  display: none;
  animation: opacity 1s linear;
  
}

.layout{
  background-color: #f0f1f1;
  
}
.layout__header{
  height: 52px;
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow:  3px 3px 7px #979696;
  z-index: 1;
  
}
.header--title{
  color: #182537;
  font-size: 24px;
  padding: 10px 32px;
  font-weight: 500;
}
.header--item{
   display: flex;
   column-gap: 30px;
   padding: 10px 32px;
}
.header--item div{
  display: flex;
  align-items: center;
  font-size: 14px;
  column-gap: 5px;
  color: rgb(174, 169, 169);
  padding: 16px 13px;
  cursor: pointer;
}
.item-user{
  position: relative;
}
.header--item div:last-child{
  color: #0088ff;
}
.header--item div:hover{
    background-color: #f2f9ff;
    color: #0088ff;
  
}
.header--item div i{
  font-size: 20px;

}
.header__list-user{
  position: fixed;
  background-color: #ffffff;
  width: 230px;
  top:9%;
  right: 7%;
  z-index: 100;
 
}
.list-user{
  display: flex;
  align-items: center;
  height: 54px;
  column-gap: 10px;
  padding: 11px 17px;
  font-size: 14px;
  cursor: pointer;
}
.list-user i{
  color: rgb(174, 169, 169);
  font-size: 24px;
}
.list-user:hover{
  background-color: #f2f9ff;
    color: #0088ff;
}