<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới Thiệu</title>
    <link rel="stylesheet" href="../hompage/style.css">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <header>
            <div class="header_container">
              <div class="header__logo">
                <img src="img/logo-removebg.png" alt="" />
              </div>
              <div class="header__menu">
                <ul class="list--menu">
                  <li class="list--link"><a href="">Trang chủ</a></li>
                  <li class="list--link"><a href="">Giới thiệu</a></li>
                  <li class="list--link"><a href="">Đặt bàn</a></li>
                  <li class="list--link"><a href="">Thực đơn</a></li>
                  <li class="list--link"><a href="">Tin tức</a></li>
                  <li class="list--link"><a href="">Liên hệ</a></li>
                  <li class="list--link">
                    <a href="" class="hotline">Hotline:099999999</a>
                  </li>
                </ul>
              </div>
            </div>
          </header>
          <div class="banner">
            <a href=""><img src="img/img1.jpg" alt="" width="100%"></a>
          </div>
          <div class="contact">
            <div class="left">
              <h1>TPCG-Food ALACARTE (GỌI MÓN)</h1>
            <a href=""><img src="img/img2.jpg" alt=""></a>
            <p> <strong>TPCG-Food</strong> là mô hình phục vụ các món ăn gọi riêng lẻ theo nhu cầu. Mỗi món tương ứng với giá tiền khác nhau. King BBQ mô hình gọi món, với thực đơn đa dạng hơn 200 món ăn cùng các set bộ và combo dành cho 2-4 người với mức giá hợp lý.
               Món sườn King là món ăn đặc trưng và rất nổi tiếng mà bất cứ thực khách nào đến King BBQ cũng không thể bỏ qua.</p>
               <p><strong>TPCG-Food</strong> là điểm đến cho các khách hàng có nhu cầu tiếp khách, tụ tập bạn bè, gia đình, liên hoan sinh nhật.</p>
               <button><i class='bx bx-search'></i> Thực đơn</button>
            </div>
            <div class="right">
              <h1>TPCG-Food ALACARTE (Đặt bàn)</h1>
              <a href=""><img src="img/img3.jpg" alt=""></a>
              <p> <strong>TPCG-Food</strong> là mô hình Buffet tự chọn ăn không giới hạn trong một mức giá cố định, có Line Buffet để quý khách lựa chọn món ăn.
                 Quý khách có thể bắt đầu bằng các món soup, kimchi salad, món nóng, món cổ truyền, các món thịt tẩm sốt Hàn Quốc nướng trên than hồng, và kết thúc với món tráng miệng. Thực đơn Buffet hơn 200 món ăn đa dạng đặc trưng hương vị Hàn Quốc.</p>
               <p><strong>TPCG-Food</strong> đặc biệt thích hợp với khách hàng có nhu cầu tổ chức liên hoan sinh nhật, khách đoàn và gia đình.</p>  
               <a href=""><button><i class='bx bx-heart'></i> Thực đơn</button></a>
            </div>
          </div>
          <footer>&#169;TPCG-NHÓM 2</footer>
    </div>
</body>
</html>