@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to top right, #F7F6DC, #CBA0AE);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  height: 100vh;
  padding: 30px;
}
.container .signin{
  display: grid;
  grid-template-columns: 40% auto;
  gap: 30px;
}
.container .signin .boxright{
  background-color: #ffffff99;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 5px 5px #00000033;
}
.container .signin .boxright .image_decor{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.signin .boxright form{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 40px;
}
.signin .boxright form p{
  opacity: .7;
}
.signin .boxright form .icon_form{
  flex: none;
}
.signin .boxright form .icon_form p{
  display: inline-block;
  margin-left: 10px;
}
.signin .boxright form .icon_form i{
  font-size: large;
  opacity: .7;
}
.signin .boxright form input{
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #eeee;
}
.signin .boxright form .signin_btn button{
  width: 100px;
  margin-top: 20px;
  background-image: linear-gradient(to left top, #E97777, #FCDDB0);
  border-radius: 5px;
  border: none;
  padding: 5px;
  box-shadow: 0 5px 5px #00000033;
  opacity: .7;
  cursor: pointer;
}
.boxright .suggest_signup{
  display: flex;
  padding: 10px 0;
  justify-content: center;
  column-gap: 5px;
}
.boxright .suggest_signup p{
  opacity: .7;
  font-size: small;
}
.boxright .suggest_signup a{
  text-decoration: none;
}
.boxleft{
  display: grid;
  grid-template-rows: 70% auto;
  row-gap: 30px;
}
.boxleft .box1{
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 5px 5px #00000033;
  overflow: hidden;
  position: relative;
}
.boxleft .box1 .content{
  position: absolute;
  background-color: #ffffff80;
  width: 300px;
  padding: 10px;
  margin: 10px;
  bottom: 10px;
  left: 10px;
  backdrop-filter: blur(10px);
}
.boxleft .box1 .content .title{
  font-size: x-large;
  font-weight: bold;
}
.boxleft .box1 .content .desc{
  opacity: .7;
}
.boxleft .box1 .content .review{
  color: #FFB200;
}
.boxleft .box1 .content .author{
  font-size: large;
  float: right;
  margin-top: 10px;
}
.boxleft .box1 .content .arrow{
  width: 80px;
  height: auto;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.boxleft .box1 .content .arrow .arrow1,.arrow2{
  background-color: #ffffff73;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
}
.boxleft .box1 .content .arrow .arrow1 i{
  position: absolute;
  color: #fff;
  top: 50%;left: 50%;
  transform: translate(-50%,-50%);
}
.boxleft .box1 .content .arrow .arrow2 i{
  position: absolute;
  color: #fff;
  top: 50%;left: 50%;
  transform: translate(-50%,-50%);
}
.boxleft .box2{
  background-color: #ffffff99;
  box-shadow: 0 5px 5px #00000033;
  padding: 10px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}
.boxleft .box2 p:nth-child(1){
  font-size: x-large;
  padding: 10px 0;
}
.boxleft .box2 p:nth-child(2){
  opacity: .7;
}

