@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  background-color: #efefef;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.container_Signin{
  width: 80vw;
  height: 80vh;
  margin: 20px auto;
}
.container_Signin .signin{
  display: grid;
  padding: 30px;
  grid-template-columns: 40% auto;
  column-gap: 20px;
}
.signin .boxleft{
  background-color: #ffffff99;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 5px #00000033;
} 
.signin .boxleft .image_decor{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.signin .boxleft form{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.signin .boxleft form p{
  opacity: .8;
}
.signin .boxleft form input{
  padding: 5px;
  border:none;
  background-color: transparent;
  border-bottom: 1px solid #B2B2B2;
}
.boxleft .btn_submit {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.boxleft .btn_submit button{
  padding: 5px 15px;
  border:none;
  background-image: linear-gradient(to left top, #59C1BD,#CFF5E7);
  box-shadow: 0 5px 5px #00000033;
  border-radius: 5px;
  color: #eeeeee;
  cursor: pointer;
}
.boxleft .btn_submit a{
  text-decoration: none;
  opacity: .8;
}
.boxleft .suggest_signin .suggest_signin_title{
  opacity: .7;
}
.boxleft .suggest_signin a{
  text-decoration: none;
}
.boxleft .suggest_signin{
  display: flex;
  column-gap: 5px;
  font-size: small;
  justify-content: center;
}
.boxright{
  border-radius: 20px;
  box-shadow: 0 5px 5px #00000033;
  background-position: center;
  background-size: cover;
}