.tong{
    padding: 60px;
}
.insert_kh{
    float: right;
   padding: 60px;
}

.tong{
 
 padding: 0px;
 margin: 40px;
 

}
.insert{
    background-color: blue;
    padding: 8px;
    border-radius: 10px;
    top: -30px;
}
.insert a{
    color: white;
    font-weight: bolder;
    font-variant: small-caps;
}
.ds{
    background-color: white;
    box-shadow: 0px 0px 5px 5px #999999;
}
.name{
   padding: 10px;
   border-bottom: 0.5px solid gray;
  
}
.name_kh{
   
    padding-left: 1 0px;
}
.name_kh:hover{
    color: blue;
    border-bottom: 0.5px solid blue;
    width: 19%;
    
}
.name_kh {
    font-weight: bold;
    font-size: 20px;
    color: gray;
}
.list_ds{
    padding-top: 20px;
    border: 1px solid gray;
    padding: 5px;
    width: 70%;
    margin-left: 40px;
    border-radius: 5px;
}
.list_ds:hover{
    border: 1px solid black;
}


.list_ds input{
    width: 70%;
    border: 1px solid white;
}
i{
  
    font-size: 20px;
   color: gray;
}
.table{
    padding-top: 20px;
    margin-left: 10px;
   display: flex;
   gap: 50px;
}
.cot{
  border-right: 1px solid gray;
    background-color:gray ;
   height: 50px;
   text-align: center;
   
}
table tr th{
    padding-right: 90px;
      color: white ;
     padding-left: 10px;
  

}
table{
   padding-top: 20px;
   margin-left: 50px;
}
td{
    padding-top: 20px;
    padding-left: 15px;

}
.tr:hover{
    background-color: #F2F9FF;
}


